<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Extender</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<div id="page-container">

    <%- include('header'); -%>


    <div class="flexible-content">
        <ul>
            <% data.topArtists.forEach(function(artist) { %>
                <a href="<%= artist.external_urls.spotify %>" class="link">
                    <li class="item">

                        <img src="<%= artist.images[0].url %>" class="artist-img">
                        <%= artist.name %>
                    </li>
                </a>
            <% }) %>
        </ul>
    </div>
</div>

<%- include('footer'); -%>

</body>
</html>