<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Extender</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<div id="page-container">

    <%- include('header'); -%>
    <div class="period-choose">

        <div class="period-choose-buttons">
            <button>last 4 weeks</button>
            <button>last 6 month</button>
            <button>all time</button>
        </div>
        <p>Top artists for 6 month</p>
    </div>
    <div class="flexible-content">

        <ul>
            <% data.topArtists.forEach(function(artist) { %>
                <a href="<%= artist.external_urls.spotify %>" class="link">
                    <li class="item">

                        <img src="<%= artist.images[0].url %>" class="artist-img">

                    </li>
                    <div>
                        <%= artist.name %>
                    </div>
                </a>
            <% }) %>
        </ul>

    </div>
</div>

<%- include('footer'); -%>

</body>
</html>